.pageTwoContent {
  margin-top: 20px;
  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-left: 10px;
  }
  h3 {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 21px;
  }
  section {
    height: 300px;
  }
}

.skillsList {
  display: flex;
  width: inherit;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    width: fit-content;
    height: fit-content;
    background-color: #4f4f4f;
  }
}
