.jobSearchSection {
  margin-top: 20px;
  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-left: 10px;
  }
}

.jobSearchBar {
  width: 95%;
  margin-left: 10px;
  height: 48px;
  margin-top: 15px;
  padding-left: 10px;
}

.jobSearchBar::placeholder {
  color: #8b8d8e;
  font-weight: 500;
  font-size: 14px;
}
