.opinionTitle {
  margin: 50px 0px 0px 10px;
  font-weight: bold;
}

.disclaimer {
  font-size: 14px;
  margin: 10px 10px 0px 10px;
  line-height: 18px;
  color: #4f4f4f;
}

.commentName {
  margin: 50px 0px 0px 10px;
  font-weight: bold;
}

.commentContent {
  margin: 10px 10px 0px 10px;
  line-height: 21px;
  color: #4f4f4f;
}
